In [1]:
import pandas as pd

# Read the mappingfile.csv into a DataFrame
df = pd.read_csv('mappingfile.csv')
df.head()

,sample_id,animal_id,sample_date,ibk_status,breed,hide,sex,dob,cornea_0,cornea_1,cornea_2
0,152,2001,0.0,healthy,NaN,black,bull,NaN,699.0,NaN,NaN
1,235,2001,1.0,healthy,NaN,black,bull,NaN,NaN,730.0,NaN
2,284,2001,2.0,healthy,NaN,black,bull,NaN,NaN,NaN,732.0
3,200,2003,0.0,healthy,NaN,red,heifer,NaN,611.0,NaN,NaN
4,154,2007,0.0,healthy,NaN,black,heifer,NaN,724.0,NaN,NaN

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

# Ensure sample_date is parsed as a date if not already
df['sample_date'] = pd.to_datetime(df['sample_date'], errors='coerce')

plt.figure(figsize=(12, 6))
sns.scatterplot(data=df, x='sample_date', y='animal_id', hue='ibk_status', palette='Set1')
plt.title('Animal ID, Sample Date, and IBK Status')
plt.xlabel('Sample Date')
plt.ylabel('Animal ID')
plt.legend(title='IBK Status')
plt.tight_layout()
plt.show()

Matplotlib is building the font cache; this may take a moment.

NameError: name 'pd' is not defined